@model Team7_LonghornMusic.Models.OrderDetail



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Refund</title>
</head>
<body>
    <div> 
        Are you sure you want to refund?
        <input type="button" class="btn btn-primary" value="Yes, I'm Sure" onclick="location.href='@Url.Action("RefundConfirm", "OrderDetails", new { OrderDetailID = Model.OrderDetailID},null )'" />
        @*@Html.ActionLink("I'm sure.", "RefundConfirm", "OrderDetails", new { OrderDetailID = Model.OrderDetailID},null)*@
    </div>
</body>
</html>
