
@{
    ViewBag.Title = "ContentHome";
}

<h2>Edit Content:</h2>

<p>
    <input type="button" class="btn btn-primary" value="Edit Songs" onclick="location.href='@Url.Action("Index", "Songs")'" />
</p>

<p>
    <input type="button" class="btn btn-primary" value="Edit Albums" onclick="location.href='@Url.Action("Index", "Albums")'" />
</p>

<p>
    <input type="button" class="btn btn-primary" value="Edit Artists" onclick="location.href='@Url.Action("Index", "Artists")'" />
</p>
