
@{
    ViewBag.Title = "ReviewHome";
}

<h2>Reviews:</h2>

<p>
    <input type="button" class="btn btn-primary" value="Edit Song Reviews" onclick="location.href='@Url.Action("Index", "SongReviews")'" />
</p>

<p>
    <input type="button" class="btn btn-primary" value="Edit Album Reviews" onclick="location.href='@Url.Action("Index", "AlbumReviews")'" />
</p>

<p>
    <input type="button" class="btn btn-primary" value="Edit Artist Reviews" onclick="location.href='@Url.Action("Index", "ArtistReviews")'" />
</p>

