@model Team7_LonghornMusic.Models.Artist
@{
    ViewBag.Title = "DetailedSearch";
}

@using Team7_LonghornMusic.Models;


<h2>DetailedSearch</h2>

@using (Html.BeginForm("SearchResults", "Artists", FormMethod.Get))
{
    <p class="form-group">
        Name: @Html.TextBox("SearchString", null, new { @class = "form-control" }) <br />


                @Html.ListBox("SelectedGenres", (MultiSelectList)ViewBag.AllGenres, new { @class = "form-control" }) <br />

        <input type="submit" value="Search" class="btn btn-default" />


    </p>
}